In [11]:

import numpy as np
import pandas as pd

In [12]:
df1 = pd.read_csv("crop_production.csv")
df1.head(5)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [13]:
df1.dropna(inplace=True)

In [14]:
# df1.isnull().sum()

In [15]:
x = df1[["State_Name","District_Name","Crop_Year","Season","Crop","Area"]]
y = df1["Production"]

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x ,y ,random_state= 42, test_size=0.2)

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [18]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(drop = "first"),["State_Name","District_Name","Season","Crop"])
],remainder= 'passthrough')

In [19]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler(with_mean=False)),
    ('step3',XGBRegressor(n_estimators = 1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [20]:
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
r2_score(y_test,y_pred)*100

96.8522149169151

In [21]:
import joblib 
joblib.dump(pipe,"crop_pred.pkl")

['crop_pred.pkl']